*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppines', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/img/benches-560435.jpg');
    background-size: cover;
    background-position: center;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
    text-align: left ;
}
.nav a
{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.nav a::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform-origin: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.nav a:hover::after
{
    transform-origin: left;
     transform: scaleX(1);
     transform: 5 left;
}
.nav .login{
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.nav .login:hover{
    background: #fff;
    color: #162938;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 800px;
    height: 500px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  .food-h3{
    position: relative;
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    font-weight: 700;
    font-family: serif;
    text-decoration: underline;
  }
  /*css for automatic navigation*/
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }

    .a11y-only.focusable:active,
    .a11y-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
    img {
    min-width: 10em;
    max-width: 100%;
    display: block;
    background: #ddd;
  }
    .model {
    margin: 0;
    position: relative;
    }
      .model-hed {
        font-size: 1.25em;
        margin: .5em 0;
        font-family: Lora, serif;
              }
      p {
        font-size: .9375em;
        font-family: "Open Sans",sans-serif;
        font-style: normal;
        font-weight: 400;
        color: #fff;
        line-height: 1.5;
        margin: 0 0 .5em 0;
      }
    @media( min-width: 45em ) {
    .lookbook-grid {
      display: flex;
      flex-wrap: wrap;
    }
    .model {
      flex: 47.5%;
      margin: .5%;
    }
    }
    @media( min-width: 65em ) {
    .model {
      flex: 24.25% 0;
      margin: .25%;
    }
    @supports( display: grid ) {
      .lookbook-grid {
        display: grid;
        grid-gap: .5em;
        grid-template-columns: repeat( 4, minmax( 200px, 1fr ) );
      }
      .model {
        margin: 0;
      }
      .model:nth-of-type(4n-1) {
        grid-row-end: span 2;
        grid-column-end: span 2;
      }
    }
    }
  